<div header>
	My Profile
</div>
<div tools>
	<unl-tooltip position="left" label="Log out"><a ng-href="#" ng-click="logOutCurrentUser()"><unl-icon-button icon="exit-to-app"></unl-icon-button></a></unl-tooltip>
</div>
<div content wide>
	<div class="content-container" ng-hide="currentUser">
		<unl-progress indeterminate></unl-progress>
	</div>
	<div ng-show="currentUser" class="animate-fade-top">
		<unl-panel class="well">
			<div class="icon-header align-center content-container">
				<unl-tooltip position="left" label="Change your picture"><img ng-file-select multiple="false" ng-file-change="uploadImage($files)" ng-if="currentUser.profile_image" src="{{currentUser.profile_image}}" alt="Profile Image" class="img-rounded img-xlarge"></unl-tooltip>
				<h2 class="no-margin">
					{{currentUser.first_name}} {{currentUser.last_name}}
					<span class="subhead no-margin-bottom">{{currentUser.uni_year | uni_year}}  in {{currentUser.uni_major || currentUser.uni_dept}}</span>
				</h2>
			</div>
		</unl-panel>
		<unl-tabs bind-polymer item="{{selectedTab}}">
			<unl-tab>Profile</unl-tab>
			<unl-tab>Availability</unl-tab>
		</unl-tabs>
		<unl-pages item="{{selectedTab}}" flex>
			<form name="profileSettings" class="content-container">
				<unl-list-group>
					<unl-list-item-details heading="Nickname">
						<div class="tools">
							<input required type="text" name="first-name" ng-model="currentUser.first_name">
						</div>
					</unl-list-item-details>
					<unl-list-item-details heading="Email Address">
						<div class="tools">
							<input required type="email" name="email-address" ng-model="currentUser.email">
						</div>
					</unl-list-item-details>
				</unl-list-group>
			</form>
			<div class="content-container">
				<availability-calendar asset="availabilityUser" schedule="schedule" type="availability"></availability-calendar>
			</div>
		</unl-pages>
	</div>
</div>